.Todo {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Georgia, serif;
}

ul {
  list-style-type: none;
}

input {
  height: 40px;
}

button {
  height: 43px;
  border: none;
}



