.Todo {
  display: flex;
  align-items: center;
  flex-direction: column;

  opacity: 0.9;
}

ul {
  list-style-type: none;
}

.Todo-entry input {
  width: 250px;
  height: 40px;
  border: none;
}

.Todo-entry button {
  height: 42px;
  border: 2px solid tomato;
  background-color: tomato;
}
