.Todo {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: whitesmoke;
  font-family: Georgia, serif;
  opacity: 0.9;
}

.Todo-entry input {
  width: 250px;
  height: 40px;
  border: none;
}

.Todo-entry button {
  height: 42px;
  border: 2px solid tomato;
  background-color: tomato;
}